-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: fraud_detection
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `step` int NOT NULL,
  `transaction_type` varchar(20) NOT NULL,
  `amount` double NOT NULL,
  `name_orig` varchar(50) NOT NULL,
  `old_balance_orig` double DEFAULT NULL,
  `new_balance_orig` double DEFAULT NULL,
  `name_dest` varchar(50) NOT NULL,
  `old_balance_dest` double DEFAULT NULL,
  `new_balance_dest` double DEFAULT NULL,
  `is_flagged_fraud` tinyint DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fraud_probability` double DEFAULT NULL,
  `decision` varchar(20) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_name_orig` (`name_orig`),
  KEY `idx_name_dest` (`name_dest`),
  KEY `idx_step` (`step`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions_backup_48_rows`
--

DROP TABLE IF EXISTS `transactions_backup_48_rows`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions_backup_48_rows` (
  `id` bigint NOT NULL DEFAULT '0',
  `step` int NOT NULL,
  `transaction_type` varchar(20) NOT NULL,
  `amount` double NOT NULL,
  `name_orig` varchar(50) NOT NULL,
  `old_balance_orig` double DEFAULT NULL,
  `new_balance_orig` double DEFAULT NULL,
  `name_dest` varchar(50) NOT NULL,
  `old_balance_dest` double DEFAULT NULL,
  `new_balance_dest` double DEFAULT NULL,
  `is_flagged_fraud` tinyint DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fraud_probability` double DEFAULT NULL,
  `decision` varchar(20) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions_backup_48_rows`
--

LOCK TABLES `transactions_backup_48_rows` WRITE;
/*!40000 ALTER TABLE `transactions_backup_48_rows` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions_backup_48_rows` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions_backup_before_cleanup`
--

DROP TABLE IF EXISTS `transactions_backup_before_cleanup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions_backup_before_cleanup` (
  `id` bigint NOT NULL DEFAULT '0',
  `step` int NOT NULL,
  `transaction_type` varchar(20) NOT NULL,
  `amount` double NOT NULL,
  `name_orig` varchar(50) NOT NULL,
  `old_balance_orig` double DEFAULT NULL,
  `new_balance_orig` double DEFAULT NULL,
  `name_dest` varchar(50) NOT NULL,
  `old_balance_dest` double DEFAULT NULL,
  `new_balance_dest` double DEFAULT NULL,
  `is_flagged_fraud` tinyint DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fraud_probability` double DEFAULT NULL,
  `decision` varchar(20) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions_backup_before_cleanup`
--

LOCK TABLES `transactions_backup_before_cleanup` WRITE;
/*!40000 ALTER TABLE `transactions_backup_before_cleanup` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions_backup_before_cleanup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions_backup_final`
--

DROP TABLE IF EXISTS `transactions_backup_final`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions_backup_final` (
  `id` bigint NOT NULL DEFAULT '0',
  `step` int NOT NULL,
  `transaction_type` varchar(20) NOT NULL,
  `amount` double NOT NULL,
  `name_orig` varchar(50) NOT NULL,
  `old_balance_orig` double DEFAULT NULL,
  `new_balance_orig` double DEFAULT NULL,
  `name_dest` varchar(50) NOT NULL,
  `old_balance_dest` double DEFAULT NULL,
  `new_balance_dest` double DEFAULT NULL,
  `is_flagged_fraud` tinyint DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fraud_probability` double DEFAULT NULL,
  `decision` varchar(20) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions_backup_final`
--

LOCK TABLES `transactions_backup_final` WRITE;
/*!40000 ALTER TABLE `transactions_backup_final` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions_backup_final` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-25 16:28:14
